# Core
SECRET_KEY=$_(2i&sc!e(y#eck6ah-c+qhfb^6xjy_ikd+a!m+e2g1#fv)3-
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=retailconnect_db
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

# Redis / Celery
REDIS_URL=redis://localhost:6379/0

# M-Pesa
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=
