# Core
SECRET_KEY=$_(2i&sc!e(y#eck6ah-c+qhfb^6xjy_ikd+a!m+e2g1#fv)3-
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database (For Docker, use: db, retailuser, retailpassword, retailconnect_db)
# For Local Development: localhost, root, (empty), retailconnect
DB_NAME=retailconnect_db
DB_USER=retailuser
DB_PASSWORD=retailpassword
DB_HOST=db
DB_PORT=3306

# Redis / Celery (For Docker use: redis://redis:6379/0)
REDIS_URL=redis://redis:6379/0

# M-Pesa
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=
